.cardList {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;

  @media all and (max-width: 780px) {
    width: 90%;
  }
}

.error-message-list {
  color: white;
  text-align: center;
  margin: 0 5%;

  strong {
    color: #35afc7;
  }
}

.noChara {
  width: 40%;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;

  @media all and (max-width: 780px) {
    width: 80%;
  }
}
