.search-input {
  display: block;
  margin: 20px auto;
  background-color: black;
  border: 3px solid #35afc7;
  border-radius: 30px;
  text-align: center;
  padding: 5px 0;
  width: 30%;
  min-width: 190px;
  color: #35afc7;
}
