.detail {
  width: 40vw;
  display: flex;
  background-color: #35afc7;
  color: white;
  margin: 50px auto;

  &-img {
    width: 40%;
    overflow: hidden;
  }
  &-text {
    width: 60%;
    padding: 0 20px;
    list-style: none;
    h3 {
      font-size: 40px;
      margin: 0;
    }
  }
}

.return {
  margin: 0 auto;
  display: block;
  width: 65px;
  background-color: #35afc7;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
